@use 'variabless' as v;


@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
@mixin desktopLarge {
    @media (min-width: v.$desktopLarge) {
        @content;
    }
}
@mixin grid ($columns, $gap){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}