//Tipografias

$mainFont: 'Montserrat', sans-serif; //creando la variable font

//Colores
// $green: #4CB8B3;//creando la variable color
// $rose: #F53756;
// $yellow: #FEF46D;
// $violet: #b412e7;
// $blackgray:#262626;
// $black: #000000;
$white: #FFF;

//Tamaño de MediaQuery
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopLarge: 1200px;