@use 'base/variabless' as v;
@use 'base/mixins' as m; //importamos la funcion mixins desde la carpeta base
@use '../custom' as *;

.information {
    // animation: movimientoL 20s linear infinite;
    &__text {
        font-family: 'Black Ops One';
        font-size: 1rem;
        @include m.tablet {
            font-size: 1.6rem;
            margin: 0;
        }
        @include m.desktop {
            font-size: 1.8rem;
            margin: 0;
        }
    }
}
// @keyframes movimientoL {
//     0% { transform: translate(100%)}
//     100% { transform: translate(-40%) }
// }
//Navigation
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.marca {
    font-size: 2.2rem;
    font-family: 'Agbalumo';
    text-decoration: none;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #8a8487 0px 0px 20px, #8a8487 0px 0px 30px;
    margin: 0;

    // @include m.phone {
    //     font-size: 2.8rem;
    //     margin: 0;
    // }
    @include m.tablet {
        font-size: 2.8rem;
        margin: 0;
    }

    @include m.desktop {
        font-size: 3rem;
        margin: 0;
    }

    @include m.desktopLarge {
        font-size: 3.6rem;
        margin: 0;
    }
}

.list-nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    margin: 0 0 0 5rem;

    @include m.desktop {
        flex-direction: row;
    }
}

.text_nav {
    color: $blackgray;
    font-family: 'Black Ops One';
    text-decoration: none;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;

    @include m.desktopLarge {
        font-size: 2rem;
        margin: 0;
    }
}

.text_nav:hover {
    color: $violet !important;
    border-bottom: $violet 2px solid !important;
    margin: 0;
}

.icons {

    color: #262626;
    font-weight: bold;
    font-size: 1.8rem;

    @include m.tablet {
        font-size: 2.2rem;
        margin: 0;
    }

    @include m.desktop {
        font-size: 2.4rem;
        margin: 0;
    }

    @include m.desktopLarge {
        font-size: 2.8rem;
        margin: 0;
    }
}
.icons:hover {
    color: $violet !important;
    font-weight: bold;
    
}

.open-menu,
.close-menu {
    display: block;
    border: 0;
    font-size: 2rem;
    border: transparent;
    cursor: pointer;

    @include m.desktop {
        display: none;
    }
}

.content-nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color:white;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .9);

    @include m.desktop {
        opacity: 1;
        visibility:visible;
        position: static;
        background-color: none;
        box-shadow: none;
        height: auto;
    }
}

.visible {
    opacity: 1;
    visibility: visible;
}





