//Colores
// $amarillo:#f4f80d;
// $rojo:#ac0808;

$yellow:#f4f80d;
$violet:#b412e7;
$blackgray:#262626;

$warning:$yellow;
$danger:$violet;
$secondary:$blackgray;

//border
$borderespecial:#923a3a;
$primary:$borderespecial;




//Importar todo bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
